@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
}

@theme inline {
  --color-black-primary: #2d2926;

  --color-yellow-primary: #fec857;
  --color-yellow-secondary: #e0ac3c;

  --color-green-primary: #2dc26e;
  --color-green-secondary: #3bb77e;

  --color-gray-primary: #7e7e7e;
  --color-gray-secondary: #b6b6b6;

  --color-blue-primary: #253d4e;
  --color-blue-secondary: #4f5d77;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background-image-banner-home: url("/assets/banners/banner-1.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply mx-auto max-w-[1440px] px-6 py-3 lg:px-12;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  /* min-height: calc(100vh + 10rem); */
  min-height: 100vh; /* Remova os +10rem */
}

.AppBody {
  flex: 1;
  display: flex;
  flex-direction: column;
}
